# Nushell
history.txt
nushell/.config/nushell/autoload

# Noctalia Related
# Excluded as they automatically changes with themes
/mango/.config/mango/noctalia.conf
/foot/.config/foot/themes/noctalia
/zellij/.config/zellij/themes/noctalia.kdl
/fastfetch/.config/fastfetch/noctalia.jsonc
